.sidenav-container {
  height: 100%;
  background-color: #135D66;

}

.sidenav {
  width: 250px;
  background-color: #135D66;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color:#003C43;
}
